* {
    border: none;
    border-radius: 10px;
    font-family: FiraCode Nerd Font, monospace;
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#mpd,
#language,
#backlight {
    background: #222327;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #181825;
}

#clock {
    color: #76cce0;
    padding: 5px 15px 5px 15px;
    margin-left: 12px;
}

#workspaces {
    padding: 0px 5px 0px 5px;
    background-color: #222327;
}

#workspaces button {
    padding: 5px 10px 5px 10px;
}

#workspaces button.active {
    color: #f39660;
    margin-top: 3px;
}

#window {
    padding: 0px 15px 0px 15px;
    margin-left: 30px;
    margin-right: 30px;
    color: #e2e2e3
}

#mpd {
    color: #b39df3;
}

#mpd.disconnected {
    background: #00000000;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#tray {
    background: #222327;
    margin: 3px 0px;
    margin-top: 10px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #181825;
}

#battery {
    color: #a6e3a1;
    border-right: 30px;
    padding: 0px 20px 0px 10px;
}

#backlight{
    color: #e5c463;
}

#pulseaudio {
    color: #fc5d7c;
    margin-right: 12px;
}
